ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li {
  padding: 0 1rem;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: inherit;
}
